<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>

    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i>
                    <%= userName %>
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                                class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                    class="fa fa-user" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                    <li>
                        <a href="/manager/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
                    </li>
                    <li>
                        <a href="/manager/view-employees">
                            <button type="submit" style="background: transparent; border: transparent;"><i
                                    class="fa fa-users fa-lg " aria-hidden="true"></i> View Employees
                            </button>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/manager/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
                    </li>
                    <li data-toggle="modal" data-target="#myModal">
                        <a href="#"> <span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-list-ol fa-stack-1x "></i></span>View
                            Attendance</a>
                    </li>
                    <li data-toggle="modal" data-target="#myModal2">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
                    </li>
                    <li>
                        <a href="/manager/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
                    </li>
                </ul>
            </div><!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Application Details</h1>
                            <div id="menu1" style="overflow: auto;">
                                <form class="form-group-sm" action="/manager/apply-for-leave" method="post" id="form1">
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" required="required" id="title"
                                            name="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type:</label>
                                        <input type="text" class="form-control" required="required" id="type"
                                            name="type">
                                    </div>
                                    <div class="form-group">
                                        <label for="period">Period of Leave:</label>
                                        <input type="number" pattern="^[0-9]" title='Only Number' min="1" step="1"
                                            class="form-control" required="required" id="period" name="period">
                                    </div>
                                    <div class="form-group">
                                        <label for="start_date">Start Date:</label>
                                        <input type="date" required="required" class="form-control" id="start_date"
                                            name="start_date">
                                        <label id="error" style="color: red;"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="end_date">End Date:</label>
                                        <input type="date" required="required" class="form-control" id="end_date"
                                            name="end_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="reason">Reason for Leave:</label>
                                        <textarea class="form-control" required="required" style="resize: none"
                                            id="reason" name="reason" rows="5" cols="60"></textarea></p>
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="button" onclick="history.go(-1);"
                                        class="btn btn-default">Cancel</button>
                                    <button type="submit" data-toggle="modal" data-target="#myModal1"
                                        class="btn btn-default">
                                        Apply
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#form1').on('submit', function () {
                    var startDate = new Date($('#start_date').val());
                    var endDate = new Date($('#end_date').val());
                    if (startDate > endDate) {
                        $('#error').text("    Start Date must be smaller than End Date!")
                        return false;
                    }
                    return true;
                });
                $('#period').bind('keypress', function (e) {
                    if (e.which < 48 ||
                        (e.which > 57 && e.which < 65) ||
                        (e.which > 90 && e.which < 97) ||
                        e.which > 122) {
                        e.preventDefault();
                    }

                });
            });
        </script>
        <script src="/javascripts/sidebar_menu.js"></script>
        <script>

            $(document).ready(function () {
                for (i = new Date().getFullYear(); i > 1950; i--) {
                    $('#year').append($('<option />').val(i).html(i));
                }
            });
        </script>
    </body>

    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="post" action="/manager/mark-manager-attendance">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mark Attendance</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to mark attendance.</p>
                    </div>
                    <div class="modal-footer">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-default">Yes</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="/manager/view-attendance">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Month/Year</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Month">Month:</label>
                            <select class="form-control" id="month" name="month">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <select class="form-control" id="year" name="year">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">View</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</html>