<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>

    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i>
                    <%= userName %>
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                                class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                    class="fa fa-user" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                    <li>
                        <a href="/manager/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
                    </li>
                    <li>
                        <a href="/manager/view-employees">
                            <button type="submit" style="background: transparent; border: transparent;"><i
                                    class="fa fa-users fa-lg " aria-hidden="true"></i> View Employees
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="/manager/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
                    </li>
                    <li class="active" data-toggle="modal" data-target="#myModal">
                        <a href="#"> <span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-list-ol fa-stack-1x "></i></span>View
                            Attendance</a>
                    </li>
                    <li data-toggle="modal" data-target="#myModal2">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
                    </li>
                    <li>
                        <a href="/manager/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
                    </li>
                </ul>
            </div><!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--<h1><label id="name">Muneeb Jutt</label></h1>
                    <h4><label id="email">M@gmail.com</label></h4>-->
                            <br>
                            <div style="height:600px; overflow: auto">
                                <% if (found===1){ %>
                                    <table id="example" class="display" cellspacing="0"
                                        style="height: 10%; overflow: auto;">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Status</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Date</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% attendance.forEach(function(item){ %>

                                                <tr>
                                                    <td>
                                                        <%= moment(item.month + "/" + item.date + "/" +
                                                            item.year).format('MMMM Do YYYY'); %>
                                                    </td>
                                                    <td>Present</td>

                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                    <% }else{ %>
                                        <p> Unable to find attendance for given month and year</p>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->


        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="/javascripts/sidebar_menu.js"></script>
        <script>

            $(document).ready(function () {
                $('#example').dataTable({
                    /* No ordering applied by DataTables during initialisation */
                    "order": []
                });
                // Setup - add a text input to each footer cell
                $('#example tfoot th').each(function () {
                    var title = $(this).text();
                    if (title != " ") {
                        $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
                    }
                });

                // DataTable
                var table = $('#example').DataTable();

                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
                for (i = new Date().getFullYear(); i > 1900; i--) {
                    $('#year').append($('<option />').val(i).html(i));
                }
            });
        </script>
    </body>

    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="post" action="/manager/mark-manager-attendance">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mark Attendance</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to mark attendance.</p>
                    </div>
                    <div class="modal-footer">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-default">Yes</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="/manager/view-attendance">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Month/Year</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Month">Month:</label>
                            <select class="form-control" id="month" name="month">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <select class="form-control" id="year" name="year">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">View</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</html>